img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/HexaTiles.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing .dark-overlay {
  background-color: transparent;
}

.landing-container {
  padding-top: 120px;
  text-align: center;
  color: black;
}

.landing-container h1 {
  font-size: 54px;
}

.landing-container .lead {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-info {
  background-color: #363537;
  border-color: #363537;
}

.btn-info:hover {
  background-color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
}

.btn-light {
  background-color: white;
}
