.dark {
  --bg: #222831;
  --bg2: rgba(0, 0, 0, 0.3);
  --bg3: #1a1d24;
  --bg4: black;
  --footer-bg: rgba(0, 0, 0, 0.3);
  --code: #f59bac;
  --code-text: #fad7a0;
  --code-text: #fee6c0;
  --code-comment: #81899b;
  --text-color: #f9ffee;
  --pale-text: #dfa612;
  --info-box-text: antiquewhite;
  --gs0: rgba(239, 187, 53, 0.6);
  --gs1: rgba(239, 187, 53, 0.6);
  --green1: #efbb35;
  --green2: #e84279;
  --green3: #dfa612;
  --top1: #302e24;
  --top2: #28313e;
  --subtle-green1: rgba(236, 198, 48, 0.1);
  --subtle-green2: #1a1d24;
  --subtle-yellow3: rgba(236, 198, 48, 0.1);
  --fb: #fff;
  --reddit: #fff;
  --h-news: #fff;
  --twitter: #fff;
  --cat-head: #1a1d24;
  --front-text-color: antiquewhite;
  --info-box-bg: #1a1d24;
  --yellow1: #efbb35;
  --yellow2: #dfa612;
  --yellow3: #fae042;
  --subtle: rgba(0, 0, 0, 0.1);
  --very-subtle: rgba(0, 0, 0, 0.05);
}

img {
  width: 100%;
}

.App .container {
  max-width: 100%;
}
/* Navbar css */
.navbar {
  /* box-shadow: 0 2px 20px 0 #efbb35; */
  background: linear-gradient(to right, #302e24, #28313e);
  font-size: 14px;
}

.navbar .navbar-brand {
  font-size: 16px;
  color: white;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: rgba(223, 222, 222, 0.92);
}

/* Footer css */

footer {
  background: linear-gradient(to left, #302e24, #28313e);
  color: white;
  font-size: 16px;
}

/* Landing css */
.landing {
  position: relative;
  /* background: url("./img/HexaTiles.jpg") no-repeat;
  background-size: cover;
  background-position: center; */
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  font-style: italic;
  height: 90vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing .dark-overlay {
  background-color: transparent;
}

.landing-container {
  padding-top: 120px;
  text-align: center;
  color: #fee6c0;
}

.landing-container h1 {
  font-size: 60px;
}

.landing-container .lead {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

/* Button class css */

.btn-info {
  background-color: transparent;
  border: 2px dashed #fae042;
  width: 150px;
  height: 70px;
  border-radius: 0px;

  padding-top: 19px;
  color: #fae042;
  font-style: normal;
}

.btn-info:hover {
  background-color: transparent;
  color: #dfa612;
  border-color: #dfa612;
}

.btn-danger {
  padding: 0.22rem;
  font-size: 12px;
}

.btn-light {
  border: 2px dashed #e84279;
  border-radius: 0px;
  background-color: transparent;
  color: #e84279;
}

.btn-light:hover {
  background-color: transparent;
  border: 2px dashed #e84279;
  border-radius: 0px;
  color: #e8427986;
}

/* Input, form-control css */

.container .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #1a1d24;
}

.container .form-control:focus {
  color: white;
  outline: none;
  border-bottom: 2px solid #e84279;
  box-shadow: none;
}

/* Dashboard css */

.dashboard {
  min-height: 87vh;
}

.dashboard h1 {
  font-style: italic;
  font-weight: 200;
}

.dashboard a {
  color: #e84279;
}

.dashboard a:hover {
  border-bottom: 1px;
}

.dashboard .btn-info {
  width: 200px;
}

.dashboard .btn {
  border: 1px solid #e84279;
  min-width: 150px;
}

.dashboard .btn:hover {
  border: 1px solid #e84279;
}

.dashboard .btn-lg {
  border: 2px dashed #e84279;
  border-radius: 0px;
}

.dashboard .btn-lg:hover {
  border: 2px dashed #e84279;
  border-radius: 0px;
  color: #e8427986;
}

.dashboard-table .table {
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.dashboard-table .table th {
  border-bottom: 2px solid #dfa612;
  border-top: 1px dashed #dfa612;
}

.dashboard-table .table td {
  border-top: 1px dashed #dfa612;
}

.dashboard-table .mb-3 {
  font-style: italic;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.dashboard-table .table .btn-danger {
  min-width: 120px;
  font-weight: bold;
}

.dashboard .delete-account {
  min-width: 150px;
  font-size: 16px;
  padding-bottom: 8px;
}

/* Sign up/Register css */

.register .container {
  width: 60%;
  height: 85vh;
  padding-top: 17vh;
}

.register .container .btn-info {
  font-size: 22px;
  padding-top: 9px;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.register .container .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #1a1d24;
}

.register .container .form-control:focus {
  color: white;
  outline: none;
  border-bottom: 2px solid #e84279;
  box-shadow: none;
}

/* Login css */

.login .container {
  height: 85vh;
}

.login .container .row {
  position: relative;
  top: 20%;
}

.login .container .btn-info {
  font-size: 22px;
  padding-top: 9px;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.login .container .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #1a1d24;
}

.login .container .form-control:focus {
  color: white;
  outline: none;
  border-bottom: 2px solid #e84279;
  box-shadow: none;
}

/* Create profile page css */

.create-profile .container .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #1a1d24;
}

.create-profile .container .form-control:focus {
  color: white;
  outline: none;
  border-bottom: 2px solid #e84279;
  box-shadow: none;
}

.create-profile .container h1 {
  font-style: italic;
}

.create-profile .container .form-group select {
  background-color: #1a1d24;
}

.create-profile .container .btn-info {
  font-size: 22px;
  padding-top: 9px;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.create-profile .container .btn-light {
  border: 2px dashed #e84279;
  border-radius: 0px;
  background-color: transparent;
  color: #e84279;
}

/* Add credentials css */

.add-credential .container .btn-info {
  font-size: 22px;
  padding-top: 9px;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

/* Post-form css */

.post-form {
  margin-bottom: 10px;
}

.post-form .card-header {
  font-size: 17px;
  padding: 0.1rem 0.1rem;
  background: linear-gradient(to right, #302e24, #28313e);
  text-align: center;
  border-bottom: 1px dashed #e84279;
}

.post-form .card {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #e84279;
}

.post-form .card-body {
  padding: 0.35rem;
}

.post-form .card-body .form-group {
  margin-bottom: 8px;
  text-decoration: none;
  border-radius: 5px;
}

.post-form .card-body .form-control {
  color: #efbb35;
}

.post-form .btn-primary {
  padding: 0.2rem 0.4rem;
  font-size: 15px;
  background-color: transparent;
  border-radius: 0px;
  border: 1px dashed #efbb35;
  color: #efbb35;
}

.post-form .form-control {
  padding: 0.5rem 0.6rem 4rem 0.5rem;
  font-size: 15px;
}

/* Post item css */

.post-item .post-content {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.post-item .card img {
  width: 20%;
}

.post-item .card {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25px,
    rgba(223, 166, 18, 0.1) 25px,
    rgba(223, 166, 18, 0.1) 50px
  );
  font-size: 13px;
  padding: 8px 10px;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.post-item .card-body .head .card-text {
  font-style: italic;
  font-size: 14.5px;
}

.post-item .body p {
  font-size: 14px;
}

.post-item .body .btn-light {
  color: white;
  min-width: 50px;
  max-width: 50px;
}

.post-item .body .btn-info {
  height: 40px;
  padding-top: 5px;
}

.post-item .btn-danger {
  height: 40px;
  width: 40px;
}

/* News content css */
.news-content {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}
/* News item css */
.news-item {
  min-width: 280px;
  max-width: 43%;
  margin: 10px;
}

.news-item .card {
  border-radius: 0px;
  border: none;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25px,
    rgba(223, 166, 18, 0.1) 25px,
    rgba(223, 166, 18, 0.1) 50px
  );
}

.news-item .card .card-body .card-title h3 {
  font-size: 13px;
  font-weight: 0;
  font-style: italic;
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  border-bottom: 2px solid;
  border-color: rgba(239, 187, 53, 0.5);
}

.news-item .card .card-top-img {
  border-radius: 0px;
}

.news-item .card .card-body {
  padding: 10px;
}

.news-item .card .card-body .card-text {
  padding: 6px;
  background: rgba(0, 0, 0, 0.4);
}

/* Post feed */

.post-feed .container .col-md-8 h1 {
  font-family: "IBM Plex Mono ExtraLight", "Segoe UI", "Helvetica Neue",
    Helvetica, Roboto, "Open Sans", FreeSans, sans-serif;
  /* font-weight: 0px; */
  font-style: italic;
  font-weight: 200;
}

/* Profiles */

.profiles h1 {
  font-style: italic;
  font-family: "IBM Plex Mono ExtraLight", "Segoe UI", "Helvetica Neue",
    Helvetica, Roboto, "Open Sans", FreeSans, sans-serif;
  font-weight: 200;
}

/* Profile items css */

.profile-item .card-body .avatar-img {
  padding-top: 16px;
}

.profile-item .card-body {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25px,
    rgba(223, 166, 18, 0.1) 25px,
    rgba(223, 166, 18, 0.1) 50px
  );
  border: 1px solid rgba(223, 166, 18, 0.1);
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}

.profile-item .card-body .btn-info {
  height: 45px;
  padding-top: 9px;
}

.profile-item .card-body .dev-info {
  padding-bottom: 15px;
  padding-top: 15px;
  background: rgba(0, 0, 0, 0.45);
}

.profile-item .card-body .list-group-item {
  background: rgba(0, 0, 0, 0.45);
}

.profile-header {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.profile-header h1 {
  font-style: italic;
  font-family: "IBM Plex Mono ExtraLight", "Segoe UI", "Helvetica Neue",
    Helvetica, Roboto, "Open Sans", FreeSans, sans-serif;
  font-weight: 200;
}

.profile-header .card {
  background: linear-gradient(to right, #302e24, #28313e);
}
